.app_green_theme {
  --bg-color: #f4fbf9;
  --inverted-bg-color: #1a8d70;
  --primary-color: #146c22;
  --inverted-primary-color: #67e57c;
  --secondary-color: #319a43;
  --inverted-secondary-color: #a5e1af;
}
